@{ 
    ViewBag.Title = "Testing page";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <ul class="test-list">
        <li class="test-active">Monitor</li>
        <li>Mouse</li>
        <li>Keyboard</li>
        <li>Bowl</li>
        <li>Wiressss</li>
    </ul>
</div>

<button id="testButton">button</button>